.fa.fa-home {
  color: white !important;
}
.fa {
  color: #612a14;
}
a:link {
  color: #612a14;
}
a:visited {
  color: #612a14;
}
a:hover {
  color: #612a14;
  text-decoration: underline;
}
a:active {
  color: #612a14;
}
td.empty {
  background-color: rgba(97, 42, 20, 0.3);
}
td.empty2 {
  background-color: white;
  border: none;
  padding: 5px;
}
td.empty3 {
  background-color: rgba(97, 42, 20, 0.3);
  padding: 7px;
}
table {
  margin-top: 16px;
  margin-bottom: 16px;
}
th {
  background-color: #612a14;
  color: white;
  border: 1px solid #7B442E !important;
}
th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #612a14;
}
.no-border {
  border: 0 !important;
  padding: 4px !important;
  text-align: left !important;
  vertical-align: text-top;
}
.subhead {
  font-weight: bold;
  font-size: larger;
}
.top-header {
  background-color: #612a14;
  height: 48px;
}
h1 {
  font-size: 400%;
}
h1, h2, h3, h4 {
  font-family: 'Kaushan Script', cursive;
}
h2 {
  margin-top: 36px;
  margin-left: -3px;
}
h4 {
  padding-bottom: 0px;
}
h5 {
  font-weight: bold;
}
footer {
  margin-bottom: 60px;
}

section {
  padding-bottom: 32px;
}

/*
  top nav styles
  Based on code from: http://www.w3schools.com/howto/howto_js_topnav.asp
*/

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #612a14;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #7B442E;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.kids {
  font-family: 'Indie Flower', cursive;;
  font-weight: bold;
}

a.kids {
  font-size: 18pt !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}
